.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  /* height: ; */
  height: 100%;

  border: 1px solid transparent;
  transition: var(--transition);

  display: flex; /*added*/
  flex-direction: column; /*added*/
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border: 1px solid transparent;
  border-color: aliceblue;

  border-radius: 1.5rem;
  overflow: hidden;
  height: 30%;
}

.portfolio__item-content {
  border: 1px solid transparent;
  border-color: aliceblue;

  /* height: 30%; */
}

.portfolio__item-cta {
  border: 1px solid transparent;
  border-color: aliceblue;

  display: flex;
  justify-content: flex-end;

  /* height: auto; */

  /* gap: 1rem; */
  /* margin-bottom: 1rem; */
}

.portfolio__item h3 {
  margin: 1rem 0 2rem 0;
}

.portfolio__item p {
  margin: 0 0 2rem 0;
  font-size: 0.9rem;
}

.title {
  font-size: 18px;
}
.description {
  font-size: 25px;
}
.frontend {
  font-size: 20px;
}

.flex {
  border-bottom: 1px dashed transparent;
  border-color: aliceblue;

  display: flex;
  justify-content: space-between;

  margin-top: 2%;
  padding-right: 5%;

  font-weight: 700;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
}

.prefix {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px transparent;
  border-color: aliceblue;
  border-radius: 10%;

  /* margin-top: 0%; */
  padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .portfolio__item-content p {
    margin: 0 0 2rem 0;

    height: 40%;
  }

  .title {
    font-size: 15px;
  }
  .description {
    font-size: 15px;
  }
  .frontend {
    font-size: 13px;
  }

}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .portfolio__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
  }
}
