.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;

  /* height: auto; */
  min-height: 100%;

  border: 1px solid transparent;
  transition: var(--transition);

  display: flex; /*added*/
  flex-direction: column; /*added*/
}

.comingSoon {
  background-color: rgba(255, 255, 255, 0.432);
  padding: 1.3rem;
  border-radius: 2rem;

  /* height: auto; */
  min-height: 100%;

  border: 1px solid transparent;
  transition: var(--transition);

  display: flex; /*added*/
  flex-direction: column; /*added*/
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border: 1px solid transparent;
  border-color: aliceblue;

  border-radius: 1.5rem;
  overflow: hidden;
  height: 30%;
}

.adjustment {
  position: relative;
  top: -35px;
}

.portfolio__item-content {
  /* border: 5px solid ;
  border-color: aliceblue; */

  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__item-cta {
  /* border: 1px solid;
  border-color: aliceblue; */

  display: flex;
  justify-content: flex-end;
  width: 100%;

  /* height: auto; */

  /* gap: 1rem; */
  /* margin-bottom: 1rem; */
}

.portfolio__item h3 {
  margin: 1rem 0 2rem 0;
}

.portfolio__item p {
  margin: 0 0 2rem 0;
}

.title {
  font-size: 1.3rem;
  font-style: italic;

  border-bottom: 3px double;
  display: inline;
}

.description {
  font-size: 1.2rem;
}

.techniques {
  font-size: 1rem;
}

.flex {
  border-bottom: 1px dashed transparent;
  border-color: aliceblue;

  display: flex;
  justify-content: space-between;

  margin-top: 2%;
  padding-right: 5%;

  font-weight: 700;
}

.prefix {
  background-color: rgba(255, 255, 255, 1);
  /* border: 1px solid;
  border-color: aliceblue; */
  border-radius: 10%;

  color: black;
  font-size: 0.9rem;

  align-self: flex-end;

  /* margin-top: 0%; */
  padding: 0px 7px 0px 7px;
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .title {
    font-size: 1.7rem;
    font-style: italic;

    border-bottom: 3px double;
    display: inline;
  }

  .description {
    font-size: 1.3rem;
  }

  .techniques {
    font-size: 1.2rem;
  }

  .prefix {
    font-size: 1.2rem;
  }
}
